<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>U-Talk</title>
    <link rel="stylesheet" href="../styles/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/nav_footer.css">
</head>

<body>
    <!--MAIN CONTENT-->
    <div class="col-md-4">

    </div>
    <div class="container-fluid jumbotron page-header">
        <h2>Categories</h2>
    </div>
    <div class="container-fluid">
        {{ range $index, $value := .Categories }}
        <div class="media jumbotron" style="padding: 10px;">
            <div class="media-left media-middle">
                <img class="media-object" style="width: 74px; height: 74px;" src="{{ $value.IconURL }}" alt="image of poster">
            </div>
            <div class="media-body">
                <br>
                <a href="/threads?category={{ $value.Name }}" class="media-heading">{{ $value.Name }}</a>
            </div>
        </div>
        {{ end }}
    </div>

    <p></p>
    </div>
    <!--END MAIN CONTENT-->


    <!--NAVBAR-->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/index">U-Talk<sup>&reg;</sup></a>
            </div>
        </div>
    </nav>
    <!--END NAVBAR-->

    <!--ADDTHREAD MODAL-->
    <div id="addthread" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title text-center">Request Category</h4>
                </div>
                <div class="modal-body">
                    <form enctype="multipart/form-data" id="threadform" method="POST" action="/categories" novalidate="novalidate">
                        <div class="form-group">
                            <label for="reason" class="control-label">Reason</label>
                            <textarea style="resize: none;" type="text" class="form-control" id="reason" name="reason" placeholder="Reason for requesting category and value it adds to site."></textarea>
                        </div>
                        <button type="submit" class="btn btn-success btn-block">Request Category</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--END ADDTHREAD MODAL-->

    <!--FOOTER-->
    <footer class="footer navbar-fixed-bottom">
        <div class="container-fluid">
            <a href="" data-toggle="modal" data-target="#addthread" class="btn btn-success btn-block">Request Category</a>
        </div>
    </footer>
    <!--END FOOTER-->
    <script type="text/javascript" src="../scripts/jquery.min.js"></script>
    <script type="text/javascript" src="../scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="../scripts/bootstrap-filestyle.min.js">
    </script>
</body>

</html>
