<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>U-Talk</title>
    <link rel="stylesheet" href="../styles/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/nav_footer.css">
</head>

<body>
    <!--MAIN CONTENT-->
    <div class="col-md-4">

    </div>
    <div class="container-fluid jumbotron page-header">
        <h2>Threads [{{.Category}}]</h2>
    </div>
    <div class="container-fluid">
        <div class="media jumbotron" style="padding: 10px;">
            <div class="media-left media-middle">
                <img class="media-object" style="width: 74px; height: 74px;" src="../uploads/fiveyears.jpg" alt="image of poster">
            </div>
            {{ range $index, $value := .Threads }}
            <div class="media-body">
                <h4 class="media-heading">Topic: Uwi Carnival</h4>
                <small>Description: {{$value.Description}}Everything Uwi Carnival Related</small>
                <br>
                <small>Created By: {{$value.Moderator}}xxx_kingSHIT</small>
                <br>
                <small>Created On: {{$value.Created}}April 10, 2016</small>
                <br>
                <small>Total Posts: <span class="badge">{{$value.TotalPosts}}</span></small>
            </div>
            {{ end }}
        </div>

        <p></p>
    </div>
    <!--END MAIN CONTENT-->


    <!--NAVBAR-->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/index">U-Talk<sup>&reg;</sup></a>
            </div>
        </div>
    </nav>
    <!--END NAVBAR-->

    <!--ADDTHREAD MODAL-->
    <div id="addthread" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title text-center">Add A Thread</h4>
                </div>
                <div class="modal-body">
                    <form enctype="multipart/form-data" id="threadform" method="POST" action="/threads" novalidate="novalidate">
                      <div class="form-group">
                          <label for="username" class="control-label">Topic</label>
                          <input type="text" class="form-control" id="topic" name="topic" value="" required" placeholder="Thread topic.">
                      </div>
                        <div class="form-group">
                            <label for="desc" class="control-label">Description</label>
                            <textarea style="resize: none;" type="text" class="form-control" id="desc" name="desc" placeholder="Description of what Thread is about."></textarea>
                        </div>
                        <div class="form-group">
                            <input type="file" class="form-control filestyle" id="img" name="img" value required>
                            <span class="help-block">Thread Icon</span>
                        </div>
                        <input type="text" hidden value="{{.Category}}" name="category"/>
                        <button type="submit" class="btn btn-success btn-block">Create Thread</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--END ADDTHREAD MODAL-->

    <!--FOOTER-->
    <footer class="footer navbar-fixed-bottom">
        <div class="container-fluid">
            <a href="" data-toggle="modal" data-target="#addthread" class="btn btn-success btn-block">Add Thread</a>
        </div>
    </footer>
    <!--END FOOTER-->
    <script type="text/javascript" src="../scripts/jquery.min.js"></script>
    <script type="text/javascript" src="../scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="../scripts/bootstrap-filestyle.min.js">
    </script>
</body>

</html>
